body{
    margin:0;
    padding:0;
    font-family: 'Chakra Petch', sans-serif;
    font-size:11px;
}

.topnav{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 24px;
    color: rgba(100, 102, 107, 0.57); 
    width: 100%;
    position: absolute;
    top:0px;
    padding-left: 5px;
}
